@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

$ff-regular: 'Helvetica Neue', sans-serif;
$ff-ultra-thin: 'Helvetica 25 UltraLight', sans-serif;
$ff-thin: 'Helvetica 35 Thin', sans-serif;
$ff-light: 'Helvetica 45 Light', sans-serif;
$ff-roman: 'Helvetica 55 Roman', sans-serif;
$ff-medium: 'Helvetica 65 Medium', sans-serif;
