$clr-primary: #e57575;
$clr-primary-75: #e57575bf;
$clr-primary-50: #e5757580;
$clr-primary-25: #e5757540;

$clr-white: #ffffff;
$clr-white-75: #ffffffbf;
$clr-white-50: #ffffff80;
$clr-white-25: #ffffff40;

$clr-black: #000000;
$clr-black-75: #000000bf;
$clr-black-50: #00000080;
$clr-black-25: #00000040;

$clr-gray: #808080;
