@use '../settings/settings.colors' as colors;

.pf-card {
  box-shadow: colors.$clr_black-15 0px 1px 36px 0px;
  width: 80%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;

  &:hover &__info {
    top: 0;
    transition: top 0.3s ease;
  }

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__info {
    will-change: top;
    margin-top: 15rem;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2rem;
    width: 100%;
    transition: top 0.3s ease;
    top: 40rem;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

  &__name,
  &__description {
    width: 100%;
    display: block;
    text-align: start;
  }

  &__name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }

  &__description {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    height: 2.25em;
    margin-right: 1rem;
    width: auto;

    &__container {
      display: flex;
      margin-top: 2rem;
      align-items: center;
    }

    &--wide {
      width: 2.25em;
      height: auto;
      margin-right: 1rem;
    }
  }
}
