.home {
  &__dp {
    height: 45vmin;
    width: auto;
  }

  &__greet {
    font-size: 4vmin;
    line-height: 5vmin;
    font-weight: 200;
  }

  &__name {
    &--first {
      font-size: 6vmin;
      line-height: 7vmin;
    }

    &--last {
      font-size: 6vmin;
      line-height: 6vmin;
      font-weight: 200;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
  }
}
